

main {

    margin: 0em 15%;

}

h1 {
    font-size: 4rem;
    text-align: center;
}


main {
    margin: 20% 18% 2em 18%;

}
.flex-container {
    display: flex;
    

}

.text {
    margin-right: 5%;
}

.photo img {
    max-width: 400px;
}

@media only screen and (max-width: 768px) and (min-width: 315px) {
    main {
        margin: 10% 10%;
    }

    .photo {
        text-align: center;
        overflow: hidden;
        position: relative;
        margin: auto;

    }
    .photo img {
        
       max-width: 250px;
    }

    .flex-container {
        display: inline-block
         
    }
}

@media only screen and (max-width: 1025px) and (min-width: 769px) {

    main {
        margin: 40% 5% 2em 5%;
    
    }
}