
#main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 800px;
    grid-gap: 4rem;
    margin: 15% 10%;
    padding-bottom: 10%;

}

h2 {
    font-size: 2.75rem;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

p {
    line-height: 2.25rem;
    font-size: 1.1rem;
    letter-spacing: 1.5px;
    color: #383c3a;
    font-weight: 100;
}

.prod-img-container {
    margin-top: 30%;
    width: 90%;
    height: 75%;
    overflow: hidden;
    margin-right: 5%;

}

#product-photo {
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%; 
   
}

.thumbnails {
    display: grid;
    grid-template-columns: 55px 55px 55px 55px 55px 55px 55px 55px 55px ;
    grid-auto-rows: 110px;
    grid-gap: 1rem;
    margin-top: 1rem;
   
}

.thumbnail {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.thumbnail-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    
}



#price {
    color: lightgray;
    font-size: 1.5rem;
}


button {
    background-color: grey;
    color: white;
    padding: 1.25rem 2rem;
    font-size: 1.5rem;
    border-radius: 1000px;
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 1rem;
    margin-bottom: 5rem;

}



button:hover {
    background-color: lightgray;
    color: darkgray;
}

button:active {
    background-color: black;
    color: white;
}

label {
    color: lightgray;
    font-size: 1.25rem;
    margin-right: .65rem;
    margin-bottom: 1rem;
}
select {
    border: none;
    font-size: 1.25rem;
    color: #383c3a;
    padding: 1rem;
    border-radius: 10%;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 1rem;
}

@media only screen and (max-width: 768px) and (min-width: 315px) {
  

    #main {
        grid-auto-rows: 400px;
        margin: 0 5%; 
        grid-gap: 2rem;
    }

    .thumbnails {
        grid-template-columns: 30px 30px 30px 30px 30px 30px 30px;
        grid-auto-rows: 45px;
        grid-gap: .25rem;
        justify-items: center;
        align-content: center;
        margin: 5% .25rem;
   
        
    }

    .prod-img-container {
        height: 75%;
        margin: 5% .5rem;
    }

    h2 {
        font-size: 1.75rem;
        margin-top: 0%;
    }

    p {
        line-height: 2rem;
        font-size: 1rem;
        letter-spacing: 1.5px;
        color: #383c3a;
        font-weight: 100;
    }

    footer {
        height: 500px;
        display: inline-block;
        
    }

   


}

@media only screen and (max-width: 1200px) and (min-width: 769px) {

  
    #main {
        grid-auto-rows: 400px;
        margin: 31% 5% 25% 5%; 
        grid-gap: 2rem;
    }

    .thumbnails {
        grid-template-columns: 30px 30px 30px 30px 30px 30px 30px 30px 30px ;
        grid-auto-rows: 45px;
        grid-gap: .25rem;
        
    }

    .prod-img-container {
        height: 75%;
    }

    h2 {
        font-size: 1.75rem;
        margin-top: 0%;
    }

    p {
        line-height: 2rem;
        font-size: 1rem;
        letter-spacing: 1.5px;
        color: #383c3a;
        font-weight: 100;
    }

    footer {
        height: 500px;
        display: inline-block;
        
    }


}

@media only screen and (max-width: 1475px) and (min-width: 1201px) {

    #main {
        
        margin: 18% 5% 20% 5%; 
     
    }
}