main {

    margin: 0em 15%;

}

h1 {
    font-size: 4rem;
    text-align: center;
}


main {
    margin: 20% 15% 5% 15%;
}

h1,
h2,
h3,
h4,
h5 {

    font-family: 'Playfair Display', serif;

}

#cart-title {

    font-weight: lighter;
    color: grey;
    margin-bottom: 5%;
}

h3 {
    font-weight: lighter;
    font-size: 1.5rem;
    margin-bottom: 8%;
}

div.item-container {
    display: grid;
    /* grid-template-columns: 1fr 3fr 1fr 1fr 1fr; */
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
    /* grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); */
    grid-auto-rows: 200px;
    grid-gap: 2%;
    margin-top: 2rem;
    align-items: center;
    justify-items: center;


}

.thumbnail {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.thumbnail-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}



.title {
    margin: 0%;
    font-size: 1.5rem;
    font-weight: lighter;
}


button {
    background-color: grey;
    color: white;
    padding: 1.25rem 2rem;
    font-size: 1.5rem;
    border-radius: 1000px;
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 1.5rem;
    margin-right: 10%;

}



button:hover {
    background-color: lightgray;
    color: darkgray;
}

button:active {
    background-color: black;
    color: white;
}

.totals {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 1.5rem;

}

.totals-div {
    display: flex;
    justify-content: flex-end;
}

p {
    margin: .25rem 1rem;
}

.button {
    display: flex;
    justify-content: flex-end;
}

#cart-container {
    margin-right: 10%;
    font-size: 2rem;

}

i {
    color: #383c3a;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.25rem;
}

button:disabled {
    opacity: 0.2;
    cursor: not-allowed;
}

@media only screen and (max-width: 768px) and (min-width: 315px) {

    main {

        margin: 0em 5%;

    }

    #cart-title {
        margin-top: 10%;
        font-size: 1rem;
    }

    h4.title {
        font-weight: lighter;
        font-size: .75rem;
    }

    i {
        font-size: .75rem;

    }

    span {
        font-size: 1rem;
    }

    .quantity {
        padding: 0rem 0rem 0rem 1rem;
    }

    .price {
        font-size: 1rem;
        padding: .5rem 2rem 0rem 1.5rem;

    }

    .totals {
        font-size: 1rem;
        margin-top: 2rem;
    }

    div.item-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 2rem;
        align-items: flex-center;
        justify-items: flex-center;
    }

    .thumbnail {
        display: none;
    }

    .thumbnail-image {
        width: 100%;
        height: 50%;
        object-fit: cover;
        object-position: 50% 50%;
    }

    .empty-cart {
        font-size: 1rem;
        text-align: left;
        margin-top: 2rem;
        color: darkgray;
    }

}

@media only screen and (max-width: 1025px) and (min-width: 769px) {

    main {

        margin: 20% 5%;

    }

    div.item-container {
        grid-template-columns: 1fr 2fr 1.25fr 1fr 1fr;
        grid-auto-rows: 150px;

    }

    .title {
        font-size: 1rem;
    }

    i {
        font-size: 1rem;
    }

    .quantity,
    .price {

        font-size: 1rem;

    }
}